<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#" routerLink="/">Angular App</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mt-2 mb-3 my-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Page 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Page 2</a>
        </li>
      </ul>
      <p class="text-light d-none d-lg-block pe-4 mb-0">
        Welcome, {{ username }}
      </p>
      <button type="button" class="button" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
<!-- Navbar End -->

<!-- Main Container Start -->
<section class="container user-section">
  <h2 class="page-title">User Dashboard</h2>
  <p class="user-id">Keycloak User ID: {{ userId }}</p>

  <p>{{ user?.id }}</p>
  <p>{{ user?.fullname }}</p>
  <p>{{ user?.nickname }}</p>
  <p>{{ user?.contact }}</p>
  <p>{{ user?.email }}</p>
</section>
<!-- Main Container End -->
